*{
    background-color: skyblue;
}


body {
    font-size: 28px;
  }
  
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav ul li {
    float: right;
    background-color: #333
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333
  }
  
  nav ul li a:hover {
    background-color: #111;
  }


.containter {
    display: flex;
  }

  .row {
    display: flex;
    border: 5px;
    border-color: black;
    margin: 20px;
  }

  .column {
      
    border: 100px;
    border-color: black;
    margin: 20px;
    color: black;
    padding-right: 25px;
    text-align: center;
  }

.bio-title{
    width: 600px;
}

.porfolio-main {
    width: 100px;
    display: flex;
}


.subtext{
    font-size: 14px;
}

.homework {
    width: 250px;
    height: 200px;
    justify-content: space-between;
    margin: 20px;

}


.homework:hover{
    transform: scale(1.5);
    transition: .3s;
    margin: 80px;
    opacity: 0.2;
    color: skyblue;
    }

.images {
        display: flex;
        justify-content: center;
        margin: 5px;
        background-image: url(https://www.itprotoday.com/sites/itprotoday.com/files/programming.jpg);
        }
        
.image-1{
            height: 600px;
            width: 600px;
        }
        
.image-2{
            display: none;
            height: 600px;
            width: 600px;
        }

.image-3 {
            display: none;
            height: 600px;
            width: 600px;
        }

ul.no-bullets {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    footer {
        font-size: 12px;
    }
        
    @media screen and (max-width: 1265px) {
        .image-1{
          display: none;
        }
    
        .image-2{
            display: block;
        }
      }
      
      
    @media screen and (max-width: 863px) {
        .image-2{
          display: none;
        }
    
        .image-3{
            display: block;
        }
      }
      
      section {
        padding: 35px 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
.title {
            flex: 1 20%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        
        .title h2 {
            font-size: xx-large;
            color: var(--secondary-color);
            border-right: var(--secondary-color) solid 3px;
            padding: 0 15px;
            text-align: right;
        }
        
        .content {
            flex: 2 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-left: 2%
        }
        
        .about p {
            margin-bottom: 15px;
        }
