*{
    text-align: center;
}
body {
    font-size: 28px;
  }
  
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav ul li {
    float: right;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }

.main-header {
    background-color: skyblue;
}

.containter {
    display: flex;
  }

  .row {
    display: flex;
    border: 5px;
    border-color: black;
    margin: 20px;
  }

  .column {
      
    border: 5px;
    border-color: black;
    margin: 20px;
  }


.homework {
    width: 350px;
    height: 300px;
    justify-content: space-between;
    margin: 20px;

}

.homework:hover{
    transform: scale(1.5);
    transition: .3s;
    margin: 80px;
    }
